/docker-compose.override.yml
/.docker/mailcatcher/ssmtp.conf
/.docker/.ca-certificates
/.docker/**/Dockerfile
/.init/
/.bash_enter.env
/frontend/src/environments/*
!/frontend/src/environments/*.mo.*
/frontend/vue.config.settings.default.js