@font-face {
    font-family: "Trebuchet MS";
    src: url('/assets/fonts/Trebuchet MS.ttf');
}

@font-face {
    font-family: "Trebuchet MS";
    src: url('/assets/fonts/Trebuchet MS Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Trebuchet MS";
    src: url('/assets/fonts/Trebuchet MS Bold Italic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Trebuchet MS";
    src: url('/assets/fonts/Trebuchet MS Bold.ttf');
    font-style: italic;
}